In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
import os
#set path for root directory
ROOT_DIR = os.path.abspath(os.curdir)

In [3]:
#%reload_ext autoreload
#%autoreload 1

In [22]:
import importlib
from hydroplotting import funcutils as fc
from hydroplotting import efficiency as eff
from hydroplotting import metrics as mt
from hydroplotting import plotting as pt
importlib.reload(mt)
importlib.reload(fc)
importlib.reload(pt)

In [5]:
#get paths for data files
path_Skook_obs = ROOT_DIR + '/Data/Raw/bcqc_47.68000_-121.61000._Skookum_Creek.txt'
path_Alpine_obs = ROOT_DIR + '/Data/Raw/bcqc_47.78000_-121.70000_Alpine_Meadows.txt'
path_Stevens_obs = ROOT_DIR + '/Data/Raw/bcqc_47.78000_-121.70000_Alpine_Meadows.txt'

In [6]:
#get into data frames
df_snotel_Skookum = fc.snotel_data(path_Skook_obs)
df_snotel_Alpine = fc.snotel_data(path_Alpine_obs)
df_snotel_Stevens = fc.snotel_data(path_Stevens_obs)

In [8]:
#get data into water years
fc.calc_water_year_apply(df_snotel_Skookum)
df_snotel_Skookum['water_year_str'] = df_snotel_Skookum['water_year'].astype(str)
df_snotel_Skookum

,year,month,day,daily_P_in,Tmax_F,Tmin_F,Tmean_F,SWE_in,Tmean_C,Tmin_C,Tmax_C,SWE_m,datetime,water_year,water_year_str
1995-08-30,1995,8,30,NaN,65.40,48.92,53.04,0.0,11.688889,9.400000,18.555556,0.00000,1995-08-30,1995,1995
1995-08-31,1995,8,31,NaN,72.61,48.92,61.28,0.0,16.266667,9.400000,22.561111,0.00000,1995-08-31,1995,1995
1995-09-01,1995,9,1,NaN,78.79,58.19,67.46,0.0,19.700000,14.550000,25.994444,0.00000,1995-09-01,1995,1995
1995-09-02,1995,9,2,NaN,82.91,58.19,68.49,0.0,20.272222,14.550000,28.283333,0.00000,1995-09-02,1995,1995
1995-09-03,1995,9,3,NaN,80.85,50.98,62.31,0.0,16.838889,10.544444,27.138889,0.00000,1995-09-03,1995,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-26,2021,9,26,0.3,56.13,43.77,50.98,0.1,10.544444,6.538889,13.405556,0.00254,2021-09-26,2021,2021
2021-09-27,2021,9,27,1.5,50.98,40.68,44.80,0.2,7.111111,4.822222,10.544444,0.00508,2021-09-27,2021,2021
2021-09-28,2021,9,28,1.9,43.77,39.65,41.71,0.2,5.394444,4.250000,6.538889,0.00508,2021-09-28,2021,2021
2021-09-29,2021,9,29,0.0,50.98,38.62,44.80,0.2,7.111111,3.677778,10.544444,0.00508,2021-09-29,2021,2021
2021-09-30,2021,9,30,1.6,52.01,40.68,46.86,0.2,8.255556,4.822222,11.116667,0.00508,2021-09-30,2021,2021

In [43]:
df_snotel_Skookum_wy = df_snotel_Skookum.groupby(['water_year_str'])
wy_groups = df_snotel_Skookum_wy.groups

wy_keys = wy_groups.keys()

In [38]:
wy_2012 = df_snotel_Skookum_wy.get_group('2012')
peak_SWE = wy_2012.SWE_m.max()
peak_SWE
#peak_swe = mt.peak_swe(wy_2012.SWE_m)

1.5367

dict_keys(['1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'])

In [98]:
def get_peak_swe(df_snotel):
    df_snotel_wy = df_snotel.groupby(['water_year_str'])
    peak_SWE_wy = dict()
    wy_groups = df_snotel_wy.groups
    wy_keys = wy_groups.keys()
    for i in wy_keys:
        wy = df_snotel_wy.get_group(i)
        peak_swe = wy.SWE_m.max()
        peak_SWE_wy[i] = peak_swe
        #print(i)
    return peak_SWE_wy
        #print(peak_swe_wy[i])

In [99]:
peak_SWE = get_peak_swe(df_snotel_Skookum)
peak_SWE.values()

dict_values([0.0, 0.23113999999999998, 1.1887199999999998, 0.6959599999999999, 1.35128, 1.0668, 0.54102, 1.5087599999999999, 0.2794, 0.9144, 0.14223999999999998, 1.0287, 0.83058, 2.17678, 1.63322, 0.29717999999999994, 1.16332, 1.5367, 1.40716, 0.9118599999999999, 0.13716, 0.58674, 1.0922, 1.2827, 0.65532, 1.3030199999999998, 1.80848])

In [101]:
df_snotel_Skookum

,year,month,day,daily_P_in,Tmax_F,Tmin_F,Tmean_F,SWE_in,Tmean_C,Tmin_C,Tmax_C,SWE_m,datetime,water_year,water_year_str
1995-08-30,1995,8,30,NaN,65.40,48.92,53.04,0.0,11.688889,9.400000,18.555556,0.00000,1995-08-30,1995,1995
1995-08-31,1995,8,31,NaN,72.61,48.92,61.28,0.0,16.266667,9.400000,22.561111,0.00000,1995-08-31,1995,1995
1995-09-01,1995,9,1,NaN,78.79,58.19,67.46,0.0,19.700000,14.550000,25.994444,0.00000,1995-09-01,1995,1995
1995-09-02,1995,9,2,NaN,82.91,58.19,68.49,0.0,20.272222,14.550000,28.283333,0.00000,1995-09-02,1995,1995
1995-09-03,1995,9,3,NaN,80.85,50.98,62.31,0.0,16.838889,10.544444,27.138889,0.00000,1995-09-03,1995,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-26,2021,9,26,0.3,56.13,43.77,50.98,0.1,10.544444,6.538889,13.405556,0.00254,2021-09-26,2021,2021
2021-09-27,2021,9,27,1.5,50.98,40.68,44.80,0.2,7.111111,4.822222,10.544444,0.00508,2021-09-27,2021,2021
2021-09-28,2021,9,28,1.9,43.77,39.65,41.71,0.2,5.394444,4.250000,6.538889,0.00508,2021-09-28,2021,2021
2021-09-29,2021,9,29,0.0,50.98,38.62,44.80,0.2,7.111111,3.677778,10.544444,0.00508,2021-09-29,2021,2021
2021-09-30,2021,9,30,1.6,52.01,40.68,46.86,0.2,8.255556,4.822222,11.116667,0.00508,2021-09-30,2021,2021

In [104]:
def date_of_peak(df_snotel):
    date_of_peak = df_snotel.index.values[df_snotel_Skookum.SWE_m.argmax()]
    return date_of_peak

numpy.datetime64('2008-04-29T00:00:00.000000000')

In [ ]:
date_of_peak = df_snotel_Skookum['time'].values[swe.argmax()]
end_date = swe['time'].values[-1]
sub_swe = swe.sel(time=slice(date_of_peak, end_date))
has_no_swe = sub_swe == 0
only_no_swe = np.argwhere(has_no_swe.values)
return sub_swe['time'].values[only_no_swe[0][0]]

In [97]:
def snow_disappearance_date(df_snotel):
    try:
        date_of_peak = swe['time'].values[swe.argmax()]
        end_date = swe['time'].values[-1]
        sub_swe = swe.sel(time=slice(date_of_peak, end_date))
        has_no_swe = sub_swe == 0
        only_no_swe = np.argwhere(has_no_swe.values)
        return sub_swe['time'].values[only_no_swe[0][0]]
    except:
        return np.datetime64('NaT')

In [13]:
model_2012

,year,month,day,daily_P_in,Tmax_F,Tmin_F,Tmean_F,SWE_in,Tmean_C,Tmin_C,Tmax_C,SWE_m,datetime,water_year,water_year_str
2011-10-01,2011,10,1,0.2,47.89,42.74,44.80,0.0,7.111111,5.966667,8.827778,0.0,2011-10-01,2012,2012
2011-10-02,2011,10,2,0.3,55.10,42.74,46.86,0.0,8.255556,5.966667,12.833333,0.0,2011-10-02,2012,2012
2011-10-03,2011,10,3,0.3,47.89,42.74,44.80,0.0,7.111111,5.966667,8.827778,0.0,2011-10-03,2012,2012
2011-10-04,2011,10,4,0.2,52.01,40.68,44.80,0.0,7.111111,4.822222,11.116667,0.0,2011-10-04,2012,2012
2011-10-05,2011,10,5,0.8,46.86,38.62,40.68,0.0,4.822222,3.677778,8.255556,0.0,2011-10-05,2012,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-09-26,2012,9,26,0.0,60.25,42.74,50.98,0.0,10.544444,5.966667,15.694444,0.0,2012-09-26,2012,2012
2012-09-27,2012,9,27,0.0,66.43,49.95,57.16,0.0,13.977778,9.972222,19.127778,0.0,2012-09-27,2012,2012
2012-09-28,2012,9,28,0.0,63.34,50.98,57.16,0.0,13.977778,10.544444,17.411111,0.0,2012-09-28,2012,2012
2012-09-29,2012,9,29,0.0,53.04,42.74,48.92,0.0,9.400000,5.966667,11.688889,0.0,2012-09-29,2012,2012
2012-09-30,2012,9,30,0.0,57.16,42.74,48.92,0.0,9.400000,5.966667,13.977778,0.0,2012-09-30,2012,2012