In [ ]:
%reset

In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
#set path for root directory
ROOT_DIR = os.path.abspath(os.curdir)

In [3]:
%reload_ext autoreload
%autoreload 1

In [4]:
from hydroplotting import funcutils as fc

In [5]:
#read in data
path_flow_obs = ROOT_DIR + '/Data/Raw/12147600_ref.csv'
path_flow_model = ROOT_DIR + '/Data/Raw/12147600_sim.day'

In [6]:
flow_obs = pd.read_csv(path_flow_obs,  header = None)
flow_obs.columns = ['year', 'month', 'day', 'Q_cms']
flow_obs

       year  month  day  Q_cms
0      1959     12    1   90.0
1      1959     12    2  110.0
2      1959     12    3  110.0
3      1959     12    4   90.0
4      1959     12    5   80.0
...     ...    ...  ...    ...
22828  2022      6    1  104.0
22829  2022      6    2  119.0
22830  2022      6    3  161.0
22831  2022      6    4  134.0
22832  2022      6    5  185.0

[22833 rows x 4 columns]

In [7]:
flow_obs['datetime'] = pd.to_datetime(flow_obs[['year', 'month', 'day']])
flow_obs = flow_obs.set_index('datetime')
flow_obs['datetime'] = pd.to_datetime(flow_obs[['year', 'month', 'day']])
fc.calc_water_year_apply(flow_obs)
flow_obs['water_year_str'] = flow_obs['water_year'].astype(str)
flow_obs

            year  month  day  Q_cms   datetime  water_year water_year_str
datetime
1959-12-01  1959     12    1   90.0 1959-12-01        1960           1960
1959-12-02  1959     12    2  110.0 1959-12-02        1960           1960
1959-12-03  1959     12    3  110.0 1959-12-03        1960           1960
1959-12-04  1959     12    4   90.0 1959-12-04        1960           1960
1959-12-05  1959     12    5   80.0 1959-12-05        1960           1960
...          ...    ...  ...    ...        ...         ...            ...
2022-06-01  2022      6    1  104.0 2022-06-01        2022           2022
2022-06-02  2022      6    2  119.0 2022-06-02        2022           2022
2022-06-03  2022      6    3  161.0 2022-06-03        2022           2022
2022-06-04  2022      6    4  134.0 2022-06-04        2022           2022
2022-06-05  2022      6    5  185.0 2022-06-05        2022           2022

[22833 rows x 7 columns]

In [8]:
flow_model = pd.read_csv(path_flow_model, sep='\s+', header = None)
flow_model.columns = ['year', 'month', 'day', 'Q_cms']

In [9]:
flow_model['datetime'] = pd.to_datetime(flow_model[['year', 'month', 'day']])
flow_model = flow_model.set_index('datetime')

flow_model['datetime'] = pd.to_datetime(flow_model[['year', 'month', 'day']])

In [10]:
#apply water year
fc.calc_water_year_apply(flow_model)
flow_model['water_year_str'] = flow_model['water_year'].astype(str)
flow_model

            year  month  day     Q_cms   datetime  water_year water_year_str
datetime
1981-01-01  1981      1    1  293.0442 1981-01-01        1981           1981
1981-01-02  1981      1    2  150.0163 1981-01-02        1981           1981
1981-01-03  1981      1    3   54.5583 1981-01-03        1981           1981
1981-01-04  1981      1    4   26.4289 1981-01-04        1981           1981
1981-01-05  1981      1    5   15.0847 1981-01-05        1981           1981
...          ...    ...  ...       ...        ...         ...            ...
2015-12-27  2015     12   27    8.1309 2015-12-27        2016           2016
2015-12-28  2015     12   28    8.1614 2015-12-28        2016           2016
2015-12-29  2015     12   29   10.3486 2015-12-29        2016           2016
2015-12-30  2015     12   30    8.5960 2015-12-30        2016           2016
2015-12-31  2015     12   31    7.3509 2015-12-31        2016           2016

[12783 rows x 7 columns]

In [11]:
flow_model_by_wy = flow_model.groupby(['water_year_str'])
flow_obs_by_wy = flow_obs.groupby(['water_year_str'])

In [12]:
wy_groups = flow_model_by_wy.groups
#wy_groups
wy_groups.keys()

dict_keys(['1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'])

In [22]:
model_2012 = flow_model_by_wy.get_group('2012')
#or, get a specific year with this
#model_flow_2011 = flow_model[flow_model['water_year'] == 1981]
model_2012

            year  month  day     Q_cms   datetime  water_year water_year_str
datetime
2011-10-01  2011     10    1   31.8906 2011-10-01        2012           2012
2011-10-02  2011     10    2   23.7640 2011-10-02        2012           2012
2011-10-03  2011     10    3  108.9702 2011-10-03        2012           2012
2011-10-04  2011     10    4   42.4345 2011-10-04        2012           2012
2011-10-05  2011     10    5   27.2386 2011-10-05        2012           2012
...          ...    ...  ...       ...        ...         ...            ...
2012-09-26  2012      9   26    3.3531 2012-09-26        2012           2012
2012-09-27  2012      9   27    3.5789 2012-09-27        2012           2012
2012-09-28  2012      9   28    3.9306 2012-09-28        2012           2012
2012-09-29  2012      9   29    3.8457 2012-09-29        2012           2012
2012-09-30  2012      9   30    2.9613 2012-09-30        2012           2012

[366 rows x 7 columns]

In [23]:
obs_2012 = flow_obs_by_wy.get_group('2012')
#or, get a specific year with this
#model_flow_2011 = flow_model[flow_model['water_year'] == 1981]
obs_2012

            year  month  day  Q_cms   datetime  water_year water_year_str
datetime
2011-10-01  2011     10    1  12.00 2011-10-01        2012           2012
2011-10-02  2011     10    2  11.30 2011-10-02        2012           2012
2011-10-03  2011     10    3  12.30 2011-10-03        2012           2012
2011-10-04  2011     10    4  14.20 2011-10-04        2012           2012
2011-10-05  2011     10    5  21.40 2011-10-05        2012           2012
...          ...    ...  ...    ...        ...         ...            ...
2012-09-26  2012      9   26   3.78 2012-09-26        2012           2012
2012-09-27  2012      9   27   3.74 2012-09-27        2012           2012
2012-09-28  2012      9   28   3.63 2012-09-28        2012           2012
2012-09-29  2012      9   29   3.64 2012-09-29        2012           2012
2012-09-30  2012      9   30   3.71 2012-09-30        2012           2012

[366 rows x 7 columns]

In [24]:
nse_test = fc.nse(model_2012['Q_cms'], obs_2012['Q_cms'])
nse_test

0.48930157154117193